script(src='js/jquery-3.6.0.js')
script(type="application/javascript" src="js/js.cookie.js")
script(src='lib/toastr-master/toastr.js')
script(src='js/auth.js')
script(src='js/time.js')
script(src='js/actions.js')
script(src='https://kit.fontawesome.com/18b7c04368.js' crossorigin='anonymous')
script(src='js/addFilm.js')
