@font-face {
    font-family: 'Aileron';
    src: local('Aileron Regular'), local('Aileron-Regular'),
    url('Aileron-Regular.woff2') format('woff2'),
    url('Aileron-Regular.woff') format('woff'),
    url('Aileron-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}