extends ../layouts/layout

block content
	main
		.profile-block-outside
			.profile-block-inside
				.page-block
					img(src='img/icon.png' width='100' height='100')
				.info-block
					input(type='email')
					input(type='text')

